#my_bouncing_box{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: blue;
  border-radius: 3px;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  font-weight: bold;
  color: #999; 
}